a {
  text-decoration: none;
  color: inherit;
}

.spaced-text {
  letter-spacing: 4px; /* increase/decrease spacing */
  font-size: 14px;
  text-transform: uppercase;
}

.about-section {
  max-width: 900px;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
}

.about-section h2 {
  font-size: 42px;
  font-weight: 600;
  color: #1e1e2f;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  color: #666;
}

.about-me {
  padding: 80px 0;
  background-color: #ffffff;
}

/* Main Container */
.about-container2 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: center;
  padding: 0 20px;
}

/* Image Section */
.about-image {
  flex-shrink: 0;
}

.about-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* Content Section */
.about-content2 {
  max-width: 600px;
}

.about-role {
  font-size: 14px;
  font-weight: 500;
  color: #6b7280;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
}

.about-content2 h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 20px 0;
  color: #111827;
  line-height: 1.3;
}

.about-content2 p {
  font-size: 16px;
  color: #4b5563;
  line-height: 1.8;
  margin-bottom: 16px;
}

/* Responsive Design */
@media (max-width: 900px) {
  .about-container2 {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  .about-image img {
    width: 240px;
    height: 240px;
  }

  .about-content2 h2 {
    font-size: 28px;
  }
}

/* for about me links */

.about-links {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}

.about-links a {
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #111827;
  transition: all 0.3s ease;
}

.about-links a:hover {
  background-color: #2563eb;
  transform: translateY(-2px);
}

/* Mobile */
@media (max-width: 900px) {
  .about-links {
    justify-content: center;
  }
}

/* login style */

.auth-tabs {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.auth-tabs .tab {
  font-size: 14px;
  font-weight: 600;
  color: #cfcfd8;
  padding-bottom: 10px;
  cursor: pointer;
}

.auth-tabs .tab.active {
  color: #000;
  border-bottom: 2px solid #000;
}

/* slider style */
.carousel-item {
  height: 500px; /* slider height */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* fills without distortion */
  object-position: center;
}
